.gallery img {
  transition: transform 0.3s ease;
  margin-top: 50px;
}

.gallery img:hover {
  transform: scale(1.01);
}

.sl-overlay {
  background: rgba(0, 0, 0, 0.8) !important;
}

.sl-wrapper .sl-navigation button {
  color: #fff !important;
}

.sl-wrapper .sl-close {
  color: #fff !important;
}

.sl-wrapper .sl-counter {
  color: #fff !important;
}

.sl-wrapper .sl-caption {
  background: rgba(0, 0, 0, 0.8) !important;
  color: #fff !important;
}
